<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <title>Generar Cupones</title>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <h1>Generar Cupones</h1>
          <form method="POST" action="{{ url_for('generar') }}">
            <div class="form-group">
              <label for="cantidad">Cantidad de Cupones</label>
              <input type="number" class="form-control" name="cantidad" id="cantidad" placeholder="Cantidad de Cupones" required>
            </div>
            <button type="submit" class="btn btn-primary">Generar</button>
          </form>
          {% with messages = get_flashed_messages() %}
            {% if messages %}
              <div class="alert alert-info mt-3">
                {% for message in messages %}
                  <p>{{ message }}</p>
                {% endfor %}
              </div>
            {% endif %}
          {% endwith %}
        </div>
      </div>
    </div>
  </body>
</html>

